<form action="/new/" method="post">
  <p>
    <label for="type">Type</label>
    <select name="type" id="type" required>
      <option value="">Please Select ...</value>
      <option value="food">Food</value>
      <option value="excercise">Excercise</value>
    </select>
  </p>
  <p>
    <label for="description">Description</label>
    <textarea name="description" id="description"></textarea>
  </p>
  <p>
    <a href="/" data-role="button" data-inline="true" data-icon="delete">Cancel</a>
    <button data-role="button" data-inline="true" data-icon="check" data-theme="b">Save</button>
  </p>
</form>
